@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --principal-color: crimson;
}

*{
    margin: 0;
    border: none;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: darkgrey;
}

header{
    background-color: var(--principal-color);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;     /*config. muito importante para deixar tudo alinha ao centro*/
}

/* MENU */
.links{
    font-size: 22px;
}

.links a+a{
    margin-left: 32px;          /*indicando que a config. afetará a partir do segundo item*/
}

.links a{
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active{
    font-weight: bold;
    color: white;
}

.links a:hover{
    color: white;
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after{
    width: 100%;
    transition: width 700ms cubic-bezier(1, 0.23, 0.61, 0.7);
}


/* ========== Página Index =========== */

/* CARD */
.card{
    opacity: 0;
    width: 800px;
    min-height: 400px;
    background: white;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    -webkit-box-shadow: 8px 8px 11px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 8px 11px 0px rgba(0,0,0,0.5);
    box-shadow: 8px 8px 11px 0px rgba(0,0,0,0.5);

    /*Animation*/

    animation: entranceCard;                    /*nome da animação*/
    animation-duration: 500ms;                  /*tempo da animação*/
    animation-timing-function: ease-in-out;     /*velocidade de reprodução da animação*/
    animation-fill-mode: forwards;              /*finaliza a animação no To(100%)*/
    animation-delay: 1s;                        /*delay da animação*/
}

.card .avatar{
    background: url('https://source.unsplash.com/collection/609053/500x500') no-repeat center center / cover;
}

/* CARD DETAILS */
.details{
    padding: 32px;
    text-align: center;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--principal-color);
}

.details .item{
    border-top: 1px solid var(--principal-color);
    padding: 8px 0;
    border-width: thin;
}

.details .item:nth-child(2){
    border: none;
}

.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details .item span{    /*regra do multiplo/dividido de 8, dica para usar os valores das prop. */
    background-color: var(--principal-color);
    color: white;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 32px;
    margin: 8px 0px 8px 4px;
    font-size: 16px;
}

/*ANIMATIONS*/

@keyframes entranceCard{
    0%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
    }
}